@font-face {
    font-family: 'Euclid Square';
    src: url('../fonts/EuclidSquare-Regular.woff2') format('woff2'),
         url('../fonts/EuclidSquare-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Square';
    src: url('../fonts/EuclidSquare-Italic.woff2') format('woff2'),
         url('../fonts/EuclidSquare-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Square';
    src: url('../fonts/EuclidSquare-Medium.woff2') format('woff2'),
         url('../fonts/EuclidSquare-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Square';
    src: url('../fonts/EuclidSquare-MediumItalic.woff2') format('woff2'),
         url('../fonts/EuclidSquare-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Square';
    src: url('../fonts/EuclidSquare-Bold.woff2') format('woff2'),
         url('../fonts/EuclidSquare-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Square';
    src: url('../fonts/EuclidSquare-BoldItalic.woff2') format('woff2'),
         url('../fonts/EuclidSquare-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}